<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container" mt-5>
    <h2>
        Welcome to Home-HELPER project!
    </h2>
    <h3>
        <ul>
            <li sec:authorize="isAuthenticated()">Hello, <span sec:authentication="name"></span></li>
            <li sec:authorize="isAnonymous()"><a th:href="@{/auth/login}">Login</a></li>
            <li sec:authorize="isAnonymous()"><a th:href="@{/auth/registration}">Create new user</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{'/profile/' + ${#authentication.principal.id}}">
                Редактировать профиль</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Log Out</a></li>
        </ul>
    </h3>
    <h3>
        - доступные ссылки:<br>
        - <a th:href="@{/service}">Сервисная страница (эндпоинт только для авторизованных пользователей)</a><br>
        - <a th:href="@{/secure}">Страница админа (эндпоинт только для Админа)</a><br>
    </h3>
</div>
</body>
</html>